.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__header {
  padding-top: 8rem;
  color: var(--color-navy-2);
  margin: 0 1rem;
  text-transform: uppercase;
  max-width: 1300px;
}

@media screen and (max-width: 750px) {
  .team__header {
    padding-top: 3rem;
  }
}
